
footer
{    
	height:200px;
	background-color: #B0C4DE;
	width: 100%;
}

footer h3
{
	text-align:center;
	color:white;
	background-color:blue;
}

.rouge
{
	color:red;
}

.bleue
{
	color:blue;
}